@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
  
  body {
    @apply text-dark-500;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-noto-sans {
    font-family: "Noto Sans JP", sans-serif;
  }
}

@font-face {
  font-family: "Hiragino Kaku Gothic Pro";
  src: local("Hiragino Kaku Gothic Pro"),
    url(../assets/fonts/hiragino-kaku-gothic-pro-w3.otf) format("truetype");
}
